sample/XML/student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="学生列表">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="学生" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="姓名" type="xs:string" />
                            <xs:element name="年龄" type="xs:integer" />
                            <xs:element name="班级" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>